body {
	background-color:#f6e7d2;
	text-align:center;
	min-width:650px;
}

h1 {
	font-size:4em;
	color:#0a4958;
}

h3 {
	margin-top:0;
}

td, th {
	padding:15px;
}

input[type=checkbox] {
	zoom:1.5;
	margin-left:10px;
}

#top-controls {
	position:relative;
}

#newEntryArea {
	border:2px solid black;
	border-radius:10px;
	display:inline-block;
	padding:20px;
	background-color:white;
	margin-top:10px;
}


#deleteDoneButton {
	padding:10px;
	background-color:red;
	font-size:1.1em;
	font-weight:bold;
	color:white;
	position:absolute;
	margin-left:15px;
	margin-top:35px;
}


#toDoListTable{
	margin-top:20px;
	border-radius:10px;
	background-color:#01b6ad;
	overflow:hidden;
	text-align:left;
	width:100%;
	margin-bottom:50px;
}

#toDoListTable>tbody>tr{
	transition: background-color .4s ease;
}

#toDoListTable>tbody>tr:nth-child(odd){
	background-color:#cdfffd;
}

#toDoListTable>tr:first-child>td{
	padding-top:20px;
}

#templateTable {
	display:none;
}

.description {
	width:50%;
}

.due-date {
}

.done {
}

th.delete-button {
	visibility:hidden;
}

.delete-button span {
padding-top:4px;
}

.turn-light {
	background-color:#cdfffd;
}

.turn-dark {
	background-color:#01b6ad;
}





